<!DOCTYPE html>
<html lang="en" id="page-top">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Affable Atom, a web design shop based in Wilmington North Carolina">
    <meta name="author" content="Affable Atom">

    <title>Affable Atom</title>

    <!-- Custom fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/uem7oxb.css">
  </head>

  <body data-spy="scroll" data-target="#mainNav" data-offset="56">
    <!-- Navigation -->
    <nav class="navbar navbar-expand fixed-top" id="mainNav">
      <a class="navbar-brand plain-link js-scroll-trigger" href="#page-top">
        <svg class="d-inline-block align-middle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 475.08 411.34">
          <polygon points="274.49 0 273.89 0 201.18 0 200.58 0 0 411.34 73.31 411.34 237.54 74.56 322.55 248.89 237.56 248.9 205.43 314.8 354.68 314.78 369.62 345.42 196.77 345.44 164.64 411.34 401.75 411.31 401.77 411.34 475.08 411.34 274.49 0" fill="#000"/>
        </svg>
      </a>
      <div class="navbar-name d-none d-sm-inline-block align-middle text-uppercase">
        Affable Atom
      </div>
      <div class="navbar-title d-none d-md-inline align-middle text-uppercase"></div>
      <div class="navbar-collapse">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link plain-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link plain-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link plain-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Splash Screen Modal -->
    <div class="modal modal-fullscreen" id="splashscreenModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <svg id="AAlogo" class="img-fluid d-block mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
              <title>splash</title>
              <circle cx="256.73" cy="262.16" r="231.15" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <path d="M87.7,342.4A187.22,187.22,0,0,1,215.87,79.57" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <path d="M374.85,407.22a187.1,187.1,0,0,1-236.24,0" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <path d="M297.59,79.57A187.21,187.21,0,0,1,426.32,341.2" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <path d="M118.41,279.44a140.9,140.9,0,0,1-1.06-17.28,139.3,139.3,0,0,1,67.82-119.64" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <path d="M328.29,142.52a139.61,139.61,0,0,1,66.76,136.91" fill="none" stroke="#63a8f2" stroke-miterlimit="10" stroke-width="2"/>
              <circle cx="391.21" cy="231.22" r="13.82" fill="#92c9f2"/>
              <path d="M391.21,218.9a12.32,12.32,0,1,1-12.32,12.32,12.33,12.33,0,0,1,12.32-12.32m0-3a15.32,15.32,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z" fill="#fff"/>
              <circle cx="321.49" cy="436.9" r="13.82" fill="#92c9f2"/>
              <path d="M321.49,424.57a12.33,12.33,0,1,1-12.32,12.33,12.33,12.33,0,0,1,12.32-12.33m0-3a15.33,15.33,0,1,0,15.32,15.33,15.34,15.34,0,0,0-15.32-15.33Z" fill="#fff"/>
              <path d="M177.13,493.25A13.83,13.83,0,1,1,191,479.42,13.84,13.84,0,0,1,177.13,493.25Z" fill="#92c9f2"/>
              <path d="M177.13,467.1a12.33,12.33,0,1,1-12.32,12.32,12.33,12.33,0,0,1,12.32-12.32m0-3a15.33,15.33,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z" fill="#fff"/>
              <path d="M471,362.64a13.82,13.82,0,1,1,13.82-13.82A13.84,13.84,0,0,1,471,362.64Z" fill="#92c9f2"/>
              <path d="M471,336.5a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,471,336.5m0-3a15.32,15.32,0,1,0,15.32,15.32A15.33,15.33,0,0,0,471,333.5Z" fill="#fff"/>
              <circle cx="71.6" cy="286.67" r="13.82" fill="#92c9f2"/>
              <path d="M71.6,274.35a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,71.6,274.35m0-3a15.32,15.32,0,1,0,15.32,15.32A15.34,15.34,0,0,0,71.6,271.35Z" fill="#fff"/>
              <polygon points="283.07 93.56 282.64 93.56 230.82 93.56 230.39 93.56 87.44 386.71 139.69 386.71 256.73 146.69 317.31 270.94 256.74 270.94 233.84 317.91 340.21 317.89 350.86 339.73 227.67 339.75 204.78 386.71 373.76 386.69 373.77 386.71 426.02 386.71 283.07 93.56" fill="#92c9f2"/>
              <circle cx="306.01" cy="37.73" r="13.82" fill="#92c9f2"/>
              <path d="M306,25.41a12.32,12.32,0,1,1-12.32,12.32A12.32,12.32,0,0,1,306,25.41m0-3a15.32,15.32,0,1,0,15.33,15.32A15.34,15.34,0,0,0,306,22.41Z" fill="#fff"/>
              <path d="M133.18,136.59A13.82,13.82,0,1,1,147,122.77,13.84,13.84,0,0,1,133.18,136.59Z" fill="#92c9f2"/>
              <path d="M133.18,110.45a12.32,12.32,0,1,1-12.32,12.32,12.32,12.32,0,0,1,12.32-12.32m0-3a15.32,15.32,0,1,0,15.32,15.32,15.34,15.34,0,0,0-15.32-15.32Z" fill="#fff"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <!-- Header -->
    <header class="masthead">
        <div class="intro-atoms">
          <picture>
            <source media="(orientation: landscape)" srcset="<%- require('./img/atoms-wide.png') %>">
            <source media="(orientation: portrait)" srcset="<%- require('./img/atoms-tall.png') %>">
            <img src="<%- require('./img/atoms-wide.png') %>" alt="">
          </picture>
        </div>
        <div class="intro-text">
          <div>
            <p>A Web Design shop based in Wilmington NC.
            <a class="learn-more plain-link js-scroll-trigger" href="#services">
              <i class="fas fa-angle-double-down"></i>
            </a>
          </p>
          </div>
        </div>
    </header>

    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="pb-4">What we do</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <article>
              <p class="dropcap">We build websites. From simple landing pages or product sites to blogs 
                and online stores, we build responsive designs using grid based approaches and frameworks.
                Our designs look great on mobile while also scaling gracefully to desktop dimensions. 
                Intuitive content management systems are utilized, allowing you to easily update and manage your site.
              </p>
              <p>Already have a site? We can refresh or entirely reboot your online identity with a comprehensive 
                overhaul. Have more complex needs? CMS migrations, bespoke dashboards to manage and visualize your
                business data, custom administrative portals for your employees and customers, or custom programming 
                to connect a legacy system or data source to the web are all possibilities.
              </p>
              <p>Straightforward contracts with fixed, understandable costs. Deliverables on-time and on-budget.
              </p>
              <p><a class="js-scroll-trigger" href="#contact">Engage</a> us for a one off project or retain us for affordable ongoing support and
                design work for existing websites.
             </p>
           </article>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h3 class="pb-4">Our Process</h4>
          </div>
        </div>
        <div class="row services">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 ml-auto">
                <div class="pb-4 pr-4">
                  <h4 class="pt-4 mb-4 text-muted">Strategy</h4>
                  <p>
                  <span class="fa-stack fa-2x fa-pull-left mr-2">
                    <i class="fas fa-circle fa-stack-2x text-tertiary"></i>
                    <i class="fas fa-lightbulb fa-stack-1x fa-inverse"></i>
                  </span>
                  We start with a discussion. What are your goals? What message do you want to communicate?
                  Your website is the primary platform for engaging and retaining your audience.
                  It needs to communicate a coherent brand and identity that reflects your organization’s 
                  values and leaves a strong positive impression on the first visit.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 mr-auto">
                <div class="pb-4 pr-4">
                  <h4 class="pt-4 mb-4 text-muted">Design</h4>
                  <p>
                  <span class="fa-stack fa-2x fa-pull-left mr-2">
                    <i class="fas fa-circle fa-stack-2x text-tertiary"></i>
                    <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                  </span>
                  We prototype your site’s look and feel: UX, typography, color palette.
                  We define functional requirements, site organization and navigation.
                  Your overall branding can be created by us or we can integrate your established
                  branding into a new design.
                  </p>
                </div>
              </div>
            </div>
            <div class="row bottom-line">
              <div class="col-lg-6 ml-auto">
                <div class="pb-4 pr-4">
                  <h4 class="pt-4 mb-4 text-muted">Development</h4>
                  <p>
                  <span class="fa-stack fa-2x fa-pull-left mr-2">
                    <i class="fas fa-circle fa-stack-2x text-tertiary"></i>
                    <i class="fas fa-code fa-stack-1x fa-inverse"></i>
                  </span>
                  Next we choose appropriate frameworks and a CMS and begin the process of translating
                  the prototype into code to fully realize the design. Our code is prioritized for
                  accessibility, performance, and responsiveness.
                  </p>
                </div>
              </div>
              <div class="col-lg-6 mr-auto">
                <div class="pb-4 pr-4">
                  <h4 class="pt-4 mb-4 text-muted">Deployment</h4>
                  <p>
                  <span class="fa-stack fa-2x fa-pull-left mr-2">
                    <i class="fas fa-circle fa-stack-2x text-tertiary"></i>
                    <i class="fas fa-server fa-stack-1x fa-inverse"></i>
                  </span>
                  We deliver final assets and code for integration into the server setup of your choice 
                  or we can deploy and manage your website for you, handling all the nitty-gritty IT 
                  details so you don’t have to.
                  </p>
                  <p>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-lg-12">
          <h3 class="pb-4">Specialities</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <h4 class="pt-4 mb-4 text-muted">Design</h4>
          <ul class="list-unstyled">
          <li>Illustration</li>
          <li>Motion Graphics</li>
          <li>Photographic and<br>
            Video Content Creation</li>
          <li>Copywriting</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4 class="pt-4 mb-4 text-muted">Front-End</h4>
          <ul class="list-unstyled">
          <li>HTML, CSS, JS</li>
          <li>CMS (Squarespace, Wordpress)</li>
          <li>Frameworks (Bootstrap, jQuery)</li>
          <li>Performance</li>
          <li>Accessibility</li>
          </ul>
        </div>
        <div class="col-lg-4">
          <h4 class="pt-4 mb-4 text-muted">Server-Side</h4>
          <ul class="list-unstyled">
          <li>Web, Mail, Database hosting</li>
          <li>Domain Name Services</li>
          <li>Server optimization, scaling & CDNs</li>
          <li>Cloud Services<br>
            (Digital Ocean, Linode, AWS, Netlify)</li>
          <li>Database design</li>
          <li>Site Migrations</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="pb-4">Who we are</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 order-last order-sm-first">
            <div class="row">
              <div class="col-sm-6 col-lg-4 offset-lg-2">
                <div class="card ">
                  <div class="card-top lani">
                    <div class="card-avatar border-gray">
                      <img src="<%- require('./img/lani.jpg') %>" alt="...">
                    </div>
                  </div>
                  <div class="card-body text-center">
                     <h5 class="card-title">Lani O'Neill</h5>
                     <h6 class="card-category">Designer</h6>
                     <p class="card-description">
                      Pronounces it <i>gif</i>
                     </p>
                     <p class="card-social"><a href="https://twitter.com/loneillart">@loneillart</a></p>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4">
                <div class="card">
                  <div class="card-top dave">
                    <div class="card-avatar border-gray">
                      <img class="img" src="<%- require('./img/dave.jpg') %>">
                    </div>
                  </div>
                  <div class="card-body text-center">
                     <h5 class="card-title">David Purnell</h5>
                     <h6 class="card-category">Developer</h6>
                     <p class="card-description">
                      Spaces not Tabs
                     </p>
                     <p class="card-social"><a href="https://twitter.com/davepurnellio">@davepurnellio</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 order-first order-sm-last">
            <div class="row pt-5">
              <div class="col-lg-8 mx-auto ">
                <article>
                  <p class="dropcap">A designer with an eye for detail
                    and a developer who cares about the quality and elegance of the underlying code.
                    Lani designs the look and feel then David turns it into beautiful, efficient code.
                  </p>

                  <p>Our collective right brain experience includes graphic design, branding, motion
                    graphics, video editing, web design, copywriting, and photography while our left brains have
                    extensive experience in networking, systems administration and server programming.
                  </p>
                    
                  <p>Together we have more than 20 years experience with backgrounds in Enterprise IT
                     & Telecom, Design, and Art.
                  </p>

               </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="pb-4">Get in touch</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-8 offset-md-2">
            <form class="pt-4" data-netlify="true" netlify-honeypot="bot-field" method="POST" name="contactSubmission" action="/#contact" id="contactForm" novalidate>
              <div hidden aria-hidden="true">
                <label>
                  Don’t fill this out if you're human: 
                  <input name="bot-field" />
                </label>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                  <label for="theName">Name</label>
                  <input type="text" class="form-control" name="theName" placeholder="Your Name*" required>
                  <div class="invalid-feedback">
                    Please provide your name.
                  </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label for="theEmail">Email</label>
                  <input type="email" class="form-control" name="theEmail" placeholder="your@email.com*" required>
                  <div class="invalid-feedback">
                    Please provide your email address.
                  </div>
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label for="thePhone">Phone</label>
                  <input type="tel" class="form-control" name="thePhone" placeholder="Your phone">
                  <div class="invalid-feedback">
                    Please provide a valid phone number.
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12 mb-3">
                  <label for="theProject">Tell us about your project</label>
                  <textarea class="form-control" name="theProject" rows="3" placeholder="Your Message*" required></textarea>
                </div>
              </div>
              <div class="col-12">
                <h5>So many questions...</h5>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6 mb-3">
                  <label for="theWorkType">What type of work are you looking for?</label>
                  <select class="form-control custom-select" name="theWorkType">
                    <option value=""></option>
                    <option value="branding">Branding &amp; Identity</option>
                    <option value="hosting">Domain/Hosting/Email Services</option>
                    <option value="support">Training/Support</option>
                    <option value="webdesign">Website Design</option>
                    <option value="maintennce">Website Maintenance/Migration</option>
                  </select>
                </div>
                <div class="form-group col-md-6 mb-3">
                  <label for="theTimeLine">What is the timeline for your project?</label>
                  <input type="text" class="form-control" name="theTimeLine">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4 mb-3">
                  <label for="theWebSite">Website?</label>
                  <input type="text" class="form-control" name="theWebSite" placeholder="">
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label for="theAssets">Assets</label>
                  <select class="form-control custom-select" name="theAssets">
                    <option value=""></option>
              			<option value="need-help">I need help with content</option>
              			<option value="content-soon">Content is being collected</option>
              			<option value="content-ready">Content is ready to go</option>
                  </select>
                </div>
                <div class="form-group col-md-4 mb-3">
                  <label for="theBudget">Budget</label>
                  <select class="form-control custom-select" name="theBudget">
                    <option value=""></option>
              			<option value="Under $1000">Under $1000</option>
              			<option value="$1000 - $3000">$1000 - $3000</option>
              			<option value="$3000 - $5000">$3000 - $5000</option>
              			<option value="$5000 - $8000">$5000 - $8000</option>
              			<option value="Over $8000">Over $8000</option>
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12 mb-3">
                  <label for="theWhere">Where'd you hear about us?</label>
                  <input type="text" class="form-control" name="theWhere" placeholder="">
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <div class="result-message"></div>
                <button id="TheSendButton" class="btn btn-outline mt-3" type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center py-4">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <span class="copyright">&copy;Affable Atom 2023</span>
          </div>
        </div>
      </div>
    </footer>
    <% if (htmlWebpackPlugin.options.env.Dev) { %>
      <%= require('html-loader!./testing.html') %>
    <% } %>
  </body>
</html>
